.sidebar1 {
   /* background: #F17153;
    
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
    
    background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
    
    background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
 
    background: linear-gradient(#F17153, #F58D63, #f1ab53); */

    background-color:  #273746 ; 
    position: fixed !important; 
    padding: 0px;
    height: 100% !important;
    
}



body
{
  height :100%;
}

#bar
{
  height :100% !important;
}

#img1
{
    width: auto;
    height: 95%;

}

#list
{
  position: relative;
}
.logo {
    text-align: center
    margin-top:50px;
    max-height: 180px;

}
.logo>img {
    margin-top: 70px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
    font-size : 15px;
}
.list::first-line {
   
}
.list> li, h5 {
    text-align: center;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}.main-content{
    text-align:center;
    -moz-box-sizing:border-box;
    box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
}


 @import 'https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:400';

.title {
    width: 100%;
    height:500px;
    overflow: hidden;
    margin:0;
    padding-top:80px;
    
 

        -moz-box-sizing:border-box;
  box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

div.absolute-center {
 
  margin-top : -200px;
      -moz-box-sizing:border-box;
  box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
 
}

h1 {
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;
    
    background: rgba(255, 255, 255, 1);
  
    
    font-family: 'Georgia' !important;
    font-size: 46px !important;
    font-weight: bold !important;
    text-align: center;
    letter-spacing: 3px;
}

span#close {
    position: absolute;
    top: -15px;
    left: -30px;
    
    color: white;
    font-size: 30px;
    text-shadow: 0 0 5px black;
    
    cursor: pointer;
}

#bg {
    //border: 2px solid;
      height:300px;
      width:100%;
      z-index: -1;
     -moz-box-sizing:border-box;
  box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

hr
{
  border-color:  #273746;
}

.content
{
  margin-top:-280px;
  padding-left: 60px;
  padding-right:60px;
  -moz-box-sizing:border-box;
  box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
  
}

.bottom
{

  width:100%;
  -moz-box-sizing:border-box;
  box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
     color: #273746;
   font-size : 15px;
}

#mail
{ 
   color: #273746 !important;
   text-decoration : none !important;
   margin-right:10px;
}
 
#mail:hover
{ 
   color: #273746 !important;
   text-decoration : underline !important;
}
 
.edu
{
  margin-top: 0px !important;
}
.icon
{
  width:25px;
  height:25px;
  margin-left:10px;
}
.icong
{
  width:30px;
  height:30px;
  margin-left:10px;
}

#name
{
   text-align:center;
   font-size : 15px;
   color : white;
   font-weight : bold;
}
.intro
{
  padding-left:60px;
  padding-right:60px;
  font-size:18px;
  font-family:"Helvatica";
  color:#2E4053;
  -moz-box-sizing:border-box;
  box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
  text-align:justify;
}

.link
{
  color: #fff;
  text-decoration:none !important;
}

.scale 
{
  text-align:center;
}

.fsize
{
  font-size:15px;
}

.drawb
{
  border:1px solid black;
}

.img2
{
  height :auto;
  width :100%;
  max-height: 100px;
  max-width:100px;
}








